<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="nama">Nama</label><br>
        <input type="text" id="nama" name="nama"><br>
        <label for="usia">Usia</label><br>
        <input type="number" id="usia" name="usia"><br>
        <label for="picture">Upload Picture</label><br>
        <input type="file" id="picture" name="namaFile" accept="image/*"><br><br> <!-- "name" harus sama dengan post di app.js-->
        <input type="submit" value="Submit">
    </form> 
</body>
</html>
